
*{
    padding:0;
    margin: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;

}



h1, h2, h3 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
}



/* -------------------- */

header{
    background-color: #1a67ab;
    padding: 20px;

}

header .flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: white;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.logo a:hover {
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    font-size: 0.75em;
    margin: 0 12px;
}

nav ul li a {
    color: #fff;
   text-decoration: none;
}


.menu-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.menu-button .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}
   

/* ---------------------------- */


.hero-image {
    position: relative;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 90px;
}

.hero-image img {
    width: 100%;
}

.hero-bar {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.65);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
}

.hero-bar h1,
.hero-bar h3 {
    color: #0C3C60;
}

.hero-bar h3 {
    margin-bottom: 10px;
}
 

/* ----------- */

.boxes-container {
    margin-bottom: 90px;
}

.boxes-container .flex {
    justify-content: space-between;
}

.box {
    background-color: #0C3C60;
    padding: 40px;
    color: #fff;
    text-align: center;
}

.box2 {
    margin: 0 40px;
}

.box h2 {
    margin-bottom: 40px;
    color: #CBE0EB;
}

.box p {
    line-height: 1.5em;
    margin-bottom: 40px;
}

.box button {
    background-color: #6EA4CA;
    border: none;
    padding: 8px 30px;
    color: #fff;
    font-size: 1.25em;
}

.box-wrap{
    margin: 0 10px;
}

.box-wrap img{
    height: auto;
    display: block;
    width: 100%;
}

.about-us {
    background-color: #D1E0EB;
    color: #0C3C60;
    text-align: center;
    padding: 75px 10px 60px;
}

.about-us h1 {
    margin-bottom: 50px;
}

.about-us p {
    max-width: 640px;
    font-size: 0.85em;
    margin: 0 auto 70px;
    line-height: 1.5em;
}

.about-us button {
    background-color: #0C3C60;
    color: #fff;
    border: none;
    font-size: 1em;
    padding: 8px 30px;
}


/* ------------------- */

.testimonials{
	/* min-height: 50vh; */
	background-color: #f7f7f7;

	width: 100%;
	padding:50px 15px;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.testimonials .title{
	margin-bottom:60px
}


.testimonials .slider{
 border:1px solid #333333;
 max-width: 600px;
 margin: auto;
 text-align: center;
 padding:30px;
}
.testimonials .slider .slide{
	display: none;
}
.testimonials .slider .slide.active{
	
	display: block;
	animation: slide 1s ease;
}
@keyframes slide{
	0%{
		opacity:0;
		transform: translateX(-15px);
	}
	100%{
	   opacity:1;
		transform: translateX(0px);	
	}
}

.testimonials .slider .client-info h3{
	font-weight: bold;
	margin:30px 0 10px;
}
.testimonials .slider .client-info span{
	display: block;
	font-size:16px;
	color:#11bead;
}
.testimonials .slider-indicator{
	text-align: center;
	padding-top:30px;
}
.testimonials .slider-indicator img{
	max-height:80px;
	max-width:80px;
	border-radius:50%;
	display: inline-block;
	margin:0 8px;
	opacity:0.2;
	border:4px solid #fff;
	cursor: pointer;
	transition: opacity 1s ease;
}
.testimonials .slider-indicator img.active{
	opacity:1;
}





/* ---------------------- */


.contact-us .flex {
    justify-content: space-between;
    max-width: 900px;
}

.contact-form {
    width: 400px;
    padding: 0 10px 0 50px;
}

.contact-us {
    background-color: #0C3C60;
    padding: 75px 0 60px;
}

.contact-us h1 {
    color: #fff;
    margin-bottom: 50px;
}
.contact-form address {
    color: #fff;
    font-size: 1.05em;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 40px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    margin: 0 0 20px;
    padding: 8px 12px;
    color: #597DB5;
    font-size: 16px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 2px #888888;
    border-radius: 4px;
}

.contact-form textarea {
    resize: none;
    height: 110px;
}

.contact-form button {
    background-color: #6EA4CA;
    border: none;
    color: #fff;
    padding: 8px 40px;
    display: block;
    margin: auto;
    font-size: 1em;
}

input::placeholder {
    color: #597DB5;
}

.map {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}
/* 


/* --------------- */

.before-footer .flex{
    justify-content: space-between;
}

.before-footer{
    background-color: #D1E0EB;
    padding: 80px 0px;
}

.before-footer ul{
    list-style: none;
    margin-top: 15px;
    font-size: 0.85em;
}

.col1 h3{
    text-align: left;
}

@media (max-width:767px){
    .col1{
        margin-bottom: 20px;

    }

    .col1 h3{
        font-size: 20px!important;
        text-align: center!important;
    }

    .col1 ul {
        text-align: center;
    }


}

/* ------------  */

footer {
    background-color: #0C3C60;
    padding: 35px 0;
    color: #fff;
}

footer .flex {
    max-width: 900px;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-left: 20px;
}

/* ------------ */


@media (max-width: 767px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1em;
    }

    .flex {
        display: block;
    }

    .box {
        width: 100%;
        margin-bottom: 40px;
        box-sizing: border-box;
    }

    .map {
        width: 90%;
        height: 300px;
        margin: 0 auto 60px;
        text-align: center;
    }

    .map iframe {
        height: 100%;
    }

    iframe{
        width: 300px;
    }

    .contact-form {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    footer {
        text-align: center;
    }

    footer ul {
        margin-top: 30px;
    }
}

@media (min-width: 651px) {
    nav ul {
        display: block !important;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 0.8em;
    }

    nav ul {
        display: none;
        position: absolute;
        right: 0;
        background-color: #0C3C60;
        top: 65px;
        z-index: 3;
        width: 100%;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
        padding: 15px 0 5px;
        border-top: 1px solid #fff;
    }

    nav ul li a {
        font-size: 1.5em;
    }

    .menu-button {
        display: block;
    }

    .hero-bar {
        padding: 15px 0;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.75em;
    }

    .hero-bar {
        position: static;
    }
}